html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #666666;
  font-size: 14px;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}

a {
  /* color: #666; */
}

a:hover {
  color: #000;
  transition: color 1s;
}

.globalloading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: RGBA(0, 0, 0, 0.6);
  font-size: 80px;
  z-index: 10000;
  text-align: center;
  color: #eee;
  padding-top: 100px;
  display: none;
}

.modal .modal-content,
.form-control,
.btn {
  border-radius: 0;
}

#header {
  padding: 0;
  height: 50px;
  background: #dd4b39;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.navtitle {
  padding: 15px 10px;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}

#header a,
#header .fa {
  color: #fff;
  text-decoration: none;
}

#header .navbar-menu {
  position: absolute;
  top: 0px;
  right: 0;
}

#header .navbar-menu li {
  margin: 0;
  display: inline-block;
  list-style: none;
}

#header .navbar-menu li a {
  padding: 16px;
  display: block;
}

#header .navbar-menu li:hover a {
  background: #c73826;
}

#sidebar {
  width: 50px;
  height: 100%;
  background-color: #222d32;
  position: absolute;
  top: 50px;
  padding-top: 0px;
  z-index: 10;
  transition: all 0.3s;
  position: fixed;
}

#menu,
#menu ul,
#menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}
 
#menu {
  margin-bottom: 25px;
  margin-top: 4px;
}

#menu > li {
  position: relative;
}

#menu li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #515151;
}

#menu li a i {
  font-size: 16px;
  width: 20px;
  text-align: center;
}

#menu > li > a {
  color: #c4c4c4;
  font-size: 14px;
  padding-left: 13px;
  border-bottom: 1px solid #1e323b;
}

#menu > li > a:hover {
  background-color: #1e282c;
}

#menu > li > a > span {
  display: none;
  margin-left: 8px;
}

#menu li li a {
  color: #9d9d9d;
}

#menu li li a:hover {
  color: #ffffff;
}

#menu li li a:before {
  content: "\f101";
  font-size: 14px;
  font-family: FontAwesome;
  margin-left: 10px;
  margin-right: 10px;
  transition: margin ease 0.5s;
}

#menu li li a:hover:before {
  margin-right: 20px;
}

#menu > li > ul {
  position: absolute;
  left: 50px;
  top: 0px;
  width: 210px;
  background-color: #2c3b41;
  visibility: hidden;
  overflow: hidden;
}

#menu > li.active > a {
  color: #dddddd;
  background: #1e282c;
  border-left: 3px solid #dd4b39;
}

#menu li.active li a {
  color: #c4c4c4;
}

#menu li li.active > a:last-child {
  color: #ffffff;
}

#menu li li.active a:last-child:before {
  margin-left: 20px;
  margin-right: 10px;
}

#menu > li:hover > ul.treeview-menu {
  visibility: visible;
}

#container.sidebar-open #sidebar {
  width: 235px;
  display: block;
  overflow: auto;
}

#container.sidebar-open #sidebar #menu > li > a > span {
  display: inline;
}

#sidebar #sidebar #menu > li:hover > ul {
  visibility: visible;
}

#container.sidebar-open #sidebar #menu {
  width: 235px;
  display: block;
}

#container.sidebar-open #menu > li:hover > ul {
  visibility: hidden;
}

#container.sidebar-open #menu > li.active > ul {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  visibility: visible;
}

#container #searchform .form {
  visibility: hidden;
}

#container.search-open #searchform {
  width: 280px;
  padding: 15px;
}

#container.search-open #searchform .closebutton::after {
  content: "\f054";
}

#container.search-open #searchform .form {
  visibility: visible;
}

#content {
  transition: all 0.3s;
  padding-bottom: 0px;
  padding-top: 40px;
  padding-left: 50px;
  margin: 10px 0px;
}

#container.sidebar-open #content {
  margin-left: 235px;
  padding-left: 0;
}

#container.search-open #content {
  margin-right: 290px;
}

/*--------------------Menu Icon-------------------------*/
#navtogglebutton {
  width: 50px;
  height: 50px;
  border-right: 1px solid #cd3c2a;
  display: inline-block;
  margin: 0;
  vertical-align: top;
  padding: 16px;
  cursor: pointer;
}

.navtogglebutton_anim {
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 22px;
}

.navtogglebutton_anim span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: -3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 100%;
  background: #fff;
  border-radius: 9px;
}

.navtogglebutton_anim span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navtogglebutton_anim span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navtogglebutton_anim span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navtogglebutton_anim.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px;
}

.navtogglebutton_anim.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navtogglebutton_anim.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 0px;
}

/*--------------------Content Area-------------------------*/
.page-header {
  padding: 20px 0;
  margin: 0px 0 0px;
  position: relative;
  min-height: 50px;
}

.page-header h1 {
  font-size: 28px;
  padding: 0;
  margin: 0;
}

.page-header .breadcrumb {
  margin: 0;
  padding: 0;
  font-size: 12px;
  background: transparent;
  margin-top: 6px;
}

.page-header .breadcrumb > li + li:before {
  padding: 0 1px;
  color: #ccc;
  content: "/\00a0";
  text-align: center;
}

.page-header .breadcrumb > li {
  padding-right: 2px;
}

.page-header .breadcrumb > li a {
  display: inline-block;
  vertical-align: middle;
  color: #dd4b39;
}

.page-header .breadcrumb > li.active {
  color: #999;
}

.page-header .breadcrumb a:hover {
  text-decoration: none;
  color: #000;
}

.page-header .actionbuttons {
  text-align: right;
  padding: 10px 0px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.page-header .actionbuttons .action_button {
  padding: 6px;
  border: 1px solid #eee;
  text-decoration: none;
  background: #dd4b39;
  color: #fff;
}

.page-header .actionbuttons .action_button:hover {
  background: #ce2510;
}

.box {
  position: relative;
  border-radius: 1px;
  background: #ffffff;
  border: 1px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box .box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.box-header-title{
  font-size: 14px;
  font-weight: 600;
}
.box .box-actions {
  padding: 10px;
}

.box .box-actions .box-action-buttons {
  text-align: right;
}

.box .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box .box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.box .box-body > .empty {
  height: 100%;
  width: 100%;
  font-size: 15px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.scrolling{
  overflow-y:auto;
}
.box.tabular .box-body {
  padding: 0;
}

.box.tabular .box-body .table {
  margin: 0px;
  border: 0;
}

.box.tabular .box-body .table th,
.box.tabular .box-body .table td {
  border-right: 0;
}

.box.tabular .box-body .table th:first-child,
.box.tabular .box-body .table td:first-child {
  border-left: 0;
}

.box.tab {
  padding: 0;
  border-top: 0;
  /* border: 0;
    box-shadow: none; */
}

.box.tab .nav-tabs {
  border: 0;
  margin-top: -2px;
  margin-right: -2px;
  background: #f2f2f2;
  border-bottom: 1px solid #eee;
}

.box.tab .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  background: #eee;
  padding: 0;
}

.box.tab .nav-tabs > li a {
  border-radius: 0;
  border-left: 0;
  margin: 0;
}

.box.tab .box-body {
  padding: 0;
}

.box.tab .box-body .tab-pane {
  margin-bottom: 0px;
  width: 100%;
}

.box.tab .box-body {
  padding: 0;
}

.box.tab .box-body .table {
  margin: 0px;
  border: 0;
  font-size: 12px;
  border-top: 1px solid #ddd;
}

.box.tab .box-body .table th,
.box.tab .box-body .table td {
  border-right: 0;
}

.box.tab .box-body .table th:first-child,
.box.tab .box-body .table td:first-child {
  border-left: 0;
}

.popup {
  padding: 15px;
}

.select2-container--krajee .select2-selection {
  border-radius: 0 !important;
}

.select2-container--krajee
  .select2-selection--multiple
  .select2-selection__choice {
  border-radius: 0 !important;
}

/*---------------------File Manager----------------------------*/
#modal-filemanager {
  display: block;
  padding-right: 0px !important;
  z-index: 10000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

#modal-filemanager .modal-dialog {
  position: relative;
}

#modal-filemanager .modal-body {
  padding: 0px;
}

#modal-filemanager .modal-dialog iframe {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  overflow: scroll;
  display: block;
}

.filemanager {
  position: relative;
}

.filemanager .menubar {
  padding: 0px 0px 10px;
  position: relative;
  border-bottom: 1px solid #eee;
}

.filemanager .menubar .form-group {
  margin-bottom: 0px;
}

.filemanager .listing {
  padding-top: 10px;
}

.filemanager #files .empty {
  padding: 15px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #eee;
  margin: 0px 15px;
}

.filemanager .fileitem {
  position: relative;
  padding: 0px;
  color: none;
  border-radius: 0px;
  margin: 0 0 10px 0;
  border: 1px solid #eee;
}

.filemanager .fileitem:hover {
  border: 1px solid #333;
}

.filemanager .fileitem .image {
  margin-bottom: 0px;
  overflow: hidden;
  height: 150px;
  border-bottom: 1px solid #efefef;
  padding: 4px;
  cursor: pointer;
}

.filemanager .fileitem .image img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.filemanager .fileitem .desc {
  font-size: 14px;
  padding: 0px 14px;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.filemanager .fileitem .actions {
  background: #eee;
  margin: 0px;
  padding: 4px;
  text-align: center;
  font-size: 14px;
}

.filemanager .fileitem .actions li {
  list-style: none;
  display: inline-block;
  padding: 0px 6px;
  cursor: pointer;
}

.filemanager .fileitem .actions li a {
  color: #666;
}

.filemanager .fileitem .actions li:hover a {
  color: #000;
}

.filemanager-uploader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: white;
}

.filemanager-uploader .file-drop-zone {
  margin: 12px 0px;
  border-radius: 0px;
}

.filemanager-uploader .file-preview {
  border: none;
  padding: 0;
}

.filemanager-uploader .file-preview .close {
  padding: 10px;
}

#themelistPopup {
}

#themelistPopup .themename {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

#themelistPopup {
}

#themelistPopup .themename {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

img.image-display {
  height: 100px;
}

.btn .glyphicon {
  padding-right: 4px;
}

.images-list {
}

.images-list ul {
  font-size: 0;
}

.images-list .btn.fileselector {
  border-radius: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  background: white;
  color: #aaa;
}

.images-list .btn.fileselector:hover {
  background: #ddd;
  color: #fff;
}

.images-list .fileitem {
  position: relative;
  padding: 0px;
  color: none;
  border-radius: 0px;
  margin: 2px;
  border: 1px solid #eee;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.images-list .fileitem img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.images-list .fileitem .image {
  margin-bottom: 0px;
  overflow: hidden;
  height: 80px;
  border-bottom: 1px solid #efefef;
  padding: 4px;
  cursor: pointer;
}

.images-list .fileitem .actiobar {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  background: #fff;
  left: 0;
  text-align: center;
  top: 0;
  line-height: 98px;
  display: none;
}

.images-list .fileitem:hover .actiobar {
  display: block;
}

.images-list .fileitem .actiobar .removebutton {
  cursor: pointer;
  color: #dc2e2e;
  padding: 0 6px;
}

.images-list .fileitem .actiobar .movebutton {
  cursor: move;
  padding: 0 6px;
}

.select2-container--krajee .select2-selection {
  border-radius: 0;
}

/*---------------------Dashboard Tiles----------------------------*/
.tile {
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #579cba;
  color: #ffffff;
  transition: all 1s;
}

.tile:hover {
  opacity: 0.95;
}

.tile a {
  color: #ffffff;
}
.tile-heading {
  padding: 6px 8px;
  color: #fff;
  font-size: 110%;
  font-weight: bold;
}
.tile .tile-heading .pull-right {
  transition: all 1s;
  opacity: 0.7;
}
.tile:hover .tile-heading .pull-right {
  opacity: 1;
}
.tile-body {
  padding: 15px;
  color: #ffffff;
  line-height: 48px;
}
.tile .tile-body i {
  font-size: 50px;
  opacity: 0.3;
  transition: all 1s;
}
.tile:hover .tile-body i {
  color: #ffffff;
  opacity: 1;
}
.tile .tile-body h2 {
  font-size: 42px;
  margin: 5px;
}
.tile-footer {
  padding: 5px 8px;
}

.paddingTop {
  margin-top: 15px;
}

.boxitem-list {
  padding: 0;
  margin: -0px 0px;
}

.boxitem-list li {
  padding: 10px 20px;
  list-style: none;
  position: relative;
  border-top: 1px solid #f5f5f5;
}

.boxitem-list li:first-child {
  border-top: 0px;
}

.boxitem-list li:hover {
  cursor: pointer;
  background: #f9f9f9;
}
.activity-title {
  color: #000;
  margin: 0;
  margin-bottom: 0px;
}
.activity-time {
  font-size: 9px;
  margin: 0px;
}


/*--------------------------------- SGrid View -------------------------------*/
.sgrid-view {
  padding: 10px 10px;
  background: #EEE;
  font-size: 13px;
}

.summary{
  padding: 10px;    
padding: 10px;    
  padding: 10px;    
padding: 10px;    
  padding: 10px;    
  display: none;
}

.sgrid-view table {
  border-collapse:separate;
  border-spacing: 0px 4px;
  width: 100%;
}

.sgrid-view tr {
  background: #FFF;
  box-shadow: 1px 1px 2px #EEE;
}

.sgrid-view thead tr {
  background: transparent;
  box-shadow: none;
}

.sgrid-view thead.main tr {
  background: transparent;
}

.sgrid-view thead.main tr td{
  border: none;
}

.sgrid-view thead.filters tr {
  background: #FAFAFA;
}

.sgrid-view tr td{
border-top: 1px solid #DDD;
border-bottom: 1px solid #DDD;
}

.sgrid-view tr td:first-child {
border-left: 1px solid #DDD;
}

.sgrid-view tr td:last-child {
border-right: 1px solid #DDD;
}

.sgrid-view tr.grouprow-header > td{
border: 0;
  font-weight: bold;
}

.sgrid-view tr.grouprows {
background: #FAFAFA;
}

.sgrid-view tr.grouprows > td {
padding: 0px 6px;
}

.sgrid-view tr.grouprows table {
  padding-bottom: 2px;
  min-height: 86px;
}

.sgrid-view td {
padding: 10px 6px;
vertical-align: middle;
}

.sgrid-view th {
  padding: 10px 6px 4px;
  vertical-align: middle;
}

.sgrid-view td.grouprows {
padding: 4px;
  border: 0;
}

.sgrid-view .glyphicon {
  padding: 0 6px;
  color: #777;
}

.sgrid-view .ckbcol{
width: 2px;
padding-left: 0px;
}

.sgrid-view.sortable .ckbcol{
  position: relative;
  text-align: center;
  padding-left: 10px;
}

.sgrid-view.selectable .ckbcol{
  position: relative;
  text-align: center;
  padding-left: 14px;
}

.sgrid-view tr.grouprows .ckbcol {
  padding-left: 2px;
}

.sgrid-view tr td:last-child{
  padding-right: 6px;
}

.sgrid-view tr.grouprows > td{
padding-right: 6px;
}

.sgrid-view tr.grouprows > td table td:last-child{
  padding-right: 6px;
  width: calc(160px - 7px);
}

.sgrid-view .ckbcol .sorthandle{
position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
opacity: 0;
transition: opacity 0.5s;
}

.sgrid-view tr:hover > .ckbcol .sorthandle {
opacity: 1;
}

.sgrid-view .ckbcol input[type="checkbox"] {
line-height: normal;
  margin: 2px;
  height: 14px;
  display: block;
}

.sgrid-view tr.grouprows tbody:empty {
}

.sgrid-view tr.grouprows tbody:empty:after{
content: "Drop an item here";
  text-align: center;
  font-size: 10px;
  padding: 10px;
  display: block;
  color: #777;
  left: 0;
  position: absolute;
  right: 0;
}

.sgrid-view .drop-placeholder {
  height: 20px;
  width: 100%;
  background: #EEE;
  border: 1px solid #AAA;
}

.sgrid-view .drop-placeholder.invalid {
  background: rgb(245, 194, 194);
}

.sgrid-view .drop-placeholder td {
  font-size: 10px;
  padding-left: 25px;
}

.sgrid-view .moving-placeholder {
  text-align: left;
  font-size: 9px;
  padding: 0px;
  color: #333;
  border: 0px solid #333;
  width: 100px;
  position: absolute;
  margin-top: 8px;
  margin-left: 12px;
}

.sgrid-view .moving-placeholder .fa{
  font-size: 14px;
  vertical-align: middle;
}

.sgrid-view .title-column {
  font-size: 14px;
  font-weight: bold;
}

.sgrid-view .title-column small {
	font-size: 14px;
	font-weight: normal;
}

.sgrid-view a.externallink {
	margin-left: 10px;
	font-size: 14px;
}

.sgrid-view .activityicon {
	margin-left: 10px;
	font-size: 12px;
}

.sgrid-view .summary {
  text-align: right;
  margin-bottom: 6px;
  display: none;
}

.sgrid-view .empty {
  text-align: center;
  padding: 20px;
}

.sgrid-view .table > tbody > tr > th,
.sgrid-view .table > tbody > tr > td {
  padding: 12px 8px;
}

.sgrid-view .table > thead > tr > th a {
  color: #333;
}

.sgrid-view .glyphicon {
  padding: 0 6px;
  color: #777;
}

.sgrid-view .glyphicon:hover {
  color: #333;
}

#searchform {
  width: 0;
  height: 100%;
  background-color: #FFF;
  top: 40px;
  z-index: 10;
  transition: all 0.3s;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0;
  border-left: 1px solid #DDD;
  padding-top: 5px;
}

#searchform .closebutton{
  background: #337ab7;
  width: 18px;
  height: 40px;
  display: block;
  position: absolute;
  left: -18px;
  top: 25px;
  border-radius: 4px 0px 0px 4px;
  z-index: 100;
  cursor: pointer;
}

#searchform .closebutton::after {
  font: normal normal normal 10px/1 FontAwesome;
  font-size: 12px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  position: relative;
  left: 4px;
  top: 12px;
  content: "\f0b0";
}

.form-group.required label.control-label::after {
  content: "*";
  padding-left: 2px;
}

input[type="radio"], input[type="checkbox"] { /*fix for checbox and radio alignement to label*/
  margin: 2px 0 0;
}

.select2-container--krajee .select2-selection--single .select2-selection__clear {
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


#media-library-files{
  padding: 15px;
}
#media-library-files .file-item {
  width: 150px;
  display: inline-block;
  margin: 0px 0px 10px 10px;
  padding: 4px;
  vertical-align: top;
  height: 230px;
  position: relative;
    border-radius: 0;
}

#media-library-files .file-item .image{
  width: 140px;
  height: 140px;
  background-position: center;
  background-size: cover;
  display: block;
  border: 1px solid #EEE;
  cursor: pointer;
  text-decoration: none;
}

#media-library-files .file-item .actionbuttons{
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  right: 0;
}