body {
	
}

body.error {
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

body.error h1 {
	font-size: 200px;
	color: #ED0C2C;
	font-weight: bolder;
	line-height: 180px;
    margin-top: 100px;
}

body.error h2 {
	font-size: 32px;
	color: #131210;
	font-weight: bolder;
	text-transform: uppercase;
	padding: 0;
	margin: 0px auto 20px;
}

body.error p {
	font-size: 16px;
	color: #131210;
	width: 50%;
	margin: auto;
}
