body {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 20px;
}

table {
    width:100%;
    border-spacing: 0;
    font-size: 12px;
    border-collapse: collapse;
}

table td, table th {
    padding: 3px 10px;
    border:1px solid #ccc!important;
}