/*--------------------------------- SGrid View -------------------------------*/
.sgrid-view {
  padding: 5px;
  border: 1px solid #dfdfdf;
}

.sgrid-view table {
  border-collapse:separate;
  border-spacing: 0px 4px;
  width: 100%;
}

.sgrid-view tr {
  background: #FFF;
  box-shadow: 1px 1px 2px #EEE;
}

.sgrid-view thead tr {
  background: transparent;
  box-shadow: none;
}

.sgrid-view thead a {
  text-decoration: underline;
  position: relative;
}

.sgrid-view thead a.asc:before {
  content: "\2191";
  font-size: 15px;
  text-decoration: none;
  left: -8px;
  display: inline-block;
  position: absolute;
}

.sgrid-view thead a.desc:before {
  content: "\2193";
  font-size: 16px;
  text-decoration: none;
  left: -8px;
  display: inline-block;
  position: absolute;
}

.sgrid-view thead.main tr {
  background: transparent;
}

.sgrid-view thead.main tr td{
  border: none;
}

.sgrid-view thead.filters tr {
  background: #FAFAFA;
}

.sgrid-view tr td{
border-top: 1px solid #DDD;
border-bottom: 1px solid #DDD;
}

.sgrid-view tr td:first-child {
border-left: 1px solid #DDD;
}

.sgrid-view tr td:last-child {
border-right: 1px solid #DDD;
}

.sgrid-view tr.grouprow-header > td{
border: 0;
  font-weight: bold;
}

.sgrid-view tr.grouprows {
background: #FAFAFA;
}

.sgrid-view tr.grouprows > td {
padding: 0px 6px;
}

.sgrid-view tr.grouprows table {
  padding-bottom: 2px;
  min-height: 86px;
}

.sgrid-view td {
  padding: 8px 6px;
  vertical-align: middle;
}

.sgrid-view th {
  padding: 10px 6px 4px;
  vertical-align: middle;
}

.sgrid-view td.grouprows {
padding: 4px;
  border: 0;
}

.sgrid-view .glyphicon {
  padding: 0 6px;
  color: #777;
}

.sgrid-view .ckbcol{
width: 2px;
padding-left: 0px;
}

.sgrid-view.sortable .ckbcol{
  position: relative;
  text-align: center;
  padding-left: 10px;
}

.sgrid-view.selectable .ckbcol{
  position: relative;
  text-align: center;
  padding-left: 14px;
}

.sgrid-view tr.grouprows .ckbcol {
  padding-left: 2px;
}

.sgrid-view tr td:last-child{
  padding-right: 6px;
}

.sgrid-view tr.grouprows > td{
padding-right: 6px;
}

.sgrid-view tr.grouprows > td table td:last-child{
  padding-right: 6px;
  width: calc(160px - 7px);
}

.sgrid-view .ckbcol .sorthandle{
position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
opacity: 0;
transition: opacity 0.5s;
}

.sgrid-view tr:hover > .ckbcol .sorthandle {
opacity: 1;
}

.sgrid-view .ckbcol input[type="checkbox"] {
line-height: normal;
  margin: 2px;
  height: 14px;
  display: block;
}

.sgrid-view tr.grouprows tbody:empty {
}

.sgrid-view tr.grouprows tbody:empty:after{
content: "Drop an item here";
  text-align: center;
  font-size: 10px;
  padding: 10px;
  display: block;
  color: #777;
  left: 0;
  position: absolute;
  right: 0;
}

.sgrid-view .drop-placeholder {
  height: 20px;
  width: 100%;
  background: #EEE;
  border: 1px solid #AAA;
}

.sgrid-view .drop-placeholder.invalid {
  background: rgb(245, 194, 194);
}

.sgrid-view .drop-placeholder td {
  font-size: 10px;
  padding-left: 25px;
}

.sgrid-view .moving-placeholder {
  text-align: left;
  font-size: 9px;
  padding: 0px;
  color: #333;
  border: 0px solid #333;
  width: 100px;
  position: absolute;
  margin-top: 8px;
  margin-left: 12px;
}

.sgrid-view .moving-placeholder .fa{
  font-size: 14px;
  vertical-align: middle;
}

.sgrid-view .title-column {
  font-weight: bold;
}

.sgrid-view .title-column small {
	font-weight: normal;
}

.sgrid-view a.externallink {
	margin-left: 10px;
	font-size: 14px;
}

.sgrid-view .activityicon {
	margin-left: 10px;
	font-size: 12px;
}

.sgrid-view .summary {
  text-align: right;
  margin-bottom: 6px;
  display: none;
}

.sgrid-view .empty {
  text-align: center;
  padding: 20px;
}

.sgrid-view .table > tbody > tr > th,
.sgrid-view .table > tbody > tr > td {
  padding: 12px 8px;
}

.sgrid-view .table > thead > tr > th a {
  color: #333;
}

.sgrid-view .glyphicon, .gridicon {
  padding: 0 6px;
  color: #777;
}

.sgrid-view .glyphicon:hover, .gridicon:hover {
  color: #333;
}